.navlink{
  text-decoration: none;
  padding: 5px;
  margin-right: 5px;
  border: 1px solid blueviolet;
  border-radius: 8px;
  color: blueviolet;
}
.navlink:hover{
    color: rgb(18, 10, 0);
    background-color: bisque;
}